<%= form_for(desire) do |f| %>
  <% if desire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desire.errors.count, "error") %> prohibited this desire from being saved:</h2>

      <ul>
      <% desire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :todo %>
    <%= f.text_area :todo %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Desire.statuses.keys.to_a, {} %>  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
