<p id="notice"><%= notice %></p>

<h1>Desires</h1>
<h1>Posts</h1>
<%= render @posts %>
<%= link_to 'New Post', new_post_path %>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Todo</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @desires.each do |desire| %>
      <tr>
        <td><%= desire.title %></td>
        <td><%= desire.todo %></td>
        <td><%= desire.status %></td>
        <td><%= link_to 'Edit', edit_desire_path(desire) %></td>
        <td><%= link_to 'Destroy', desire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desire', new_desire_path, class: 'btn btn-info' %>
